<p>games works!</p>
<app-add-game 
  *ngIf="show"
  [gameList]="gameList"
  (addNewGame)="add($event)">
</app-add-game>

<button mat-button (click)="showEditForm()" *ngIf="addButtonShow">Add new game</button>

<br/>

<mat-form-field>
  <input #searchInput matInput type="text" placeholder="Search" (keyup)="search(searchInput.value)">
</mat-form-field>
<button mat-icon-button color="primary" (click)="clear()" #tooltip="matTooltip" matTooltip="Clear search" matTooltipPosition="right">
  <mat-icon>clear</mat-icon>
</button>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
    <td mat-cell *matCellDef="let game"> {{game.id}} </td>
  </ng-container>
  
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let game"> {{game.name}} </td>
  </ng-container>
  
  <ng-container matColumnDef="distributionId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Distribution</th>
    <td mat-cell *matCellDef="let game"> {{game.distributionId}} </td>
  </ng-container>

  <ng-container matColumnDef="publisherId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Publisher</th>
    <td mat-cell *matCellDef="let game"> {{game.publisherId}} </td>
  </ng-container>

  <ng-container matColumnDef="releaseYear">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Release year</th>
    <td mat-cell *matCellDef="let game"> {{game.releaseYear}} </td>
  </ng-container>

  <ng-container matColumnDef="genre">
    <th mat-header-cell *matHeaderCellDef>Genre</th>
    <td mat-cell *matCellDef="let game"> {{game.genre}} </td>
  </ng-container>

  <ng-container matColumnDef="averageRating">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Average rating</th>
    <td mat-cell *matCellDef="let game"> {{game.averageRating}} </td>
  </ng-container>

  <ng-container matColumnDef="diskSpace">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Disk space</th>
    <td mat-cell *matCellDef="let game"> {{game.diskSpace}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let game"> 
      <app-delete-game
      (click)="onSelect(game)"
      [selected]="selectedGame"
      (deleteGame)="delete($event)">
      </app-delete-game>
      
      <button mat-icon-button color="primary" 
      (click)="updateFormVisibility(game)">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<app-edit-game #editForm *ngIf="displayEditForm" [selected]="selectedGame"></app-edit-game>
