<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
   <mat-icon>menu</mat-icon>
 </button>
<mat-menu #menu="matMenu">
    <button mat-menu-item>
      <a routerLink="">
        <mat-icon>games</mat-icon>
        <span>Games</span>
      </a>
    </button>
    <button mat-menu-item>
      <a routerLink="/publisher">
        <mat-icon>publish</mat-icon>
        <span>Publishers</span>
      </a>
    </button>
    <button mat-menu-item>
      <mat-icon>person_outline</mat-icon>
      <span>Distributions</span>
    </button>
</mat-menu>

 <span>Penguin Games DB</span>
 <span class="spacer"></span>

 <div class="normal-btn">
   <button
    mat-raised-button color="primary" 
    (click)="showAddForm()" 
    *ngIf="addButtonShow">Add new game</button>
    
  <button 
    mat-raised-button color="primary" 
    (click)="hideAddForm()" 
    *ngIf="!addButtonShow">Cancel</button>
 </div>

 <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/penguin-110-1109469.png" height="30px">
</mat-toolbar>

<app-add-game 
  *ngIf="addFormShow"
  [gameList]="gameList"
  (addNewGame)="add($event)">
</app-add-game>

<br/>

<mat-form-field>
  <input #searchInput matInput type="text" placeholder="Search" (keyup)="search(searchInput.value)">
</mat-form-field>
<button mat-icon-button color="primary" (click)="clear()" #tooltip="matTooltip" matTooltip="Clear search" matTooltipPosition="right">
  <mat-icon>clear</mat-icon>
</button>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
    <td mat-cell *matCellDef="let game"> {{game.id}} </td>
  </ng-container>
  
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let game"> {{game.name}} </td>
  </ng-container>
  
  <ng-container matColumnDef="distributionId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Distribution</th>
    <td mat-cell *matCellDef="let game"> {{game.distributionId}} </td>
  </ng-container>

  <ng-container matColumnDef="publisherId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Publisher</th>
    <td mat-cell *matCellDef="let game"> {{game.publisherId}} </td>
  </ng-container>

  <ng-container matColumnDef="releaseYear">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Release year</th>
    <td mat-cell *matCellDef="let game"> {{game.releaseYear}} </td>
  </ng-container>

  <ng-container matColumnDef="genre">
    <th mat-header-cell *matHeaderCellDef>Genre</th>
    <td mat-cell *matCellDef="let game"> {{game.genre}} </td>
  </ng-container>

  <ng-container matColumnDef="averageRating">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Average rating</th>
    <td mat-cell *matCellDef="let game"> {{game.averageRating}} </td>
  </ng-container>

  <ng-container matColumnDef="diskSpace">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Disk space (in MB)</th>
    <td mat-cell *matCellDef="let game"> {{game.diskSpace}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let game"> 
      <app-delete-game
      (click)="onSelect(game)"
      [selected]="selectedGame"
      (deleteGame)="delete($event)">
      </app-delete-game>
      
      <button mat-icon-button color="primary" 
      (click)="updateEditVisibility(game)">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<app-edit-game #editForm *ngIf="displayEditForm" [selected]="selectedGame"></app-edit-game>