<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>add</mat-icon>
    </div>
    <mat-card-title>Edit game!</mat-card-title>
  </mat-card-header>
  <mat-card-content>

<div class="form-group">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" required [value]="selected.name">
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-form-field>
      <mat-label>Distribution</mat-label>
      <mat-select required>
        <mat-option *ngFor="let d of distributionList" [value]="d.id">{{d.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-divider></mat-divider>
    
    <mat-form-field>
      <mat-label>Publisher</mat-label>
      <mat-select required> 
        <mat-option *ngFor="let p of publisherList" [value]="p.id">{{p.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-divider></mat-divider>
    
    <mat-form-field>
      <mat-label>Release year</mat-label>
      <input matInput type="number" value="2021" min="1970" max="2021" required
      [value]="selected.releaseYear">
    </mat-form-field>
    
    <mat-divider></mat-divider>
    
    <mat-form-field>
      <mat-label>Genre</mat-label>
      <mat-select multiple required>
        <mat-option *ngFor="let genre of genres" [value]="genre"> {{genre}} </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-divider></mat-divider>
    
    <mat-form-field>
      <mat-label>Average rating</mat-label>
      <input matInput type="number" value="50" min="0" max="100" required
      [value]="selected.averageRating">
    </mat-form-field>
    
    <mat-divider></mat-divider>
    
    <mat-form-field>
      <mat-label>Disk space (in MB)</mat-label>
      <input matInput type="number" value="10000" min="0" required [value]="selected.diskSpace">
    </mat-form-field> 

    <button mat-icon-button color="primary" #tooltip="matTooltip" matTooltip="Submit" matTooltipPosition="right">
      <mat-icon>check_circle_outline</mat-icon>
    </button>
</div>

</mat-card-content>
</mat-card>