<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>edit</mat-icon>
    </div>
    <mat-card-title>Edit game!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
<form #gameForm="ngForm" >
<div>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input name = "name" #name="ngModel" ngModel [ngModel]="selected.name" matInput type="text" required >
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-form-field>
      <mat-label>Distribution</mat-label>
      <mat-select  name="distributionId" #distribution="ngModel" [ngModel]="selected.distributionId" ngModel required>
        <mat-option *ngFor="let d of distributionList" [value]="d.id">{{d.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-divider></mat-divider>
    
    <mat-form-field>
      <mat-label>Publisher</mat-label>
      <mat-select name="publisherId" #publisherId="ngModel"  ngModel [ngModel]="selected.publisherId"  required> 
        <mat-option *ngFor="let p of publisherList" [value]="p.id">{{p.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-divider></mat-divider>
    
    <mat-form-field>
      <mat-label>Release year</mat-label>
      <input  name = "releaseYear" #releaseYear="ngModel" ngModel [ngModel]="selected.releaseYear" matInput type="number" value="2021" min="1970" max="2021" required
      [value]="selected.releaseYear">
    </mat-form-field>
    
    <mat-divider></mat-divider>
    
    <mat-form-field>
      <mat-label>Genre</mat-label>
      <mat-select  name="genre" #genre="ngModel" [ngModel]="selected.genre" ngModel multiple required>
        <mat-option *ngFor="let genre of genres" [value]="genre"> {{genre}} </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-divider></mat-divider>
    
    <mat-form-field>
      <mat-label>Average rating</mat-label>
      <input name="averageRating" #averageRating="ngModel" ngModel [ngModel]="selected.averageRating" matInput type="number" value="50" min="0" max="100" required
      [value]="selected.averageRating">
    </mat-form-field>
    
    <mat-divider></mat-divider>
    
    <mat-form-field>
      <mat-label>Disk space (in MB)</mat-label>
      <input name="diskSpace" #diskSpace="ngModel" ngModel matInput [ngModel]="selected.diskSpace" type="number" value="10000" min="0" required [value]="selected.diskSpace">
    </mat-form-field> 

    <button (click)="verifyData(gameForm.value)" mat-icon-button color="primary" #tooltip="matTooltip" matTooltip="Submit" matTooltipPosition="right">
      <mat-icon>check_circle_outline</mat-icon>
    </button>
</div>
</form>

</mat-card-content>
</mat-card>