<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>edit</mat-icon>
      </div>
      <mat-card-title>Edit distribution!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #editForm="ngForm" (ngSubmit)="verifyData(editForm.value)">
        <div>
        <mat-form-field>
          <mat-label>Name</mat-label>
            <input name = "name" #name="ngModel" [ngModel]="selected.name" ngModel matInput type="text" required>
          </mat-form-field>
  
          <mat-divider></mat-divider>
  
          <mat-form-field>
            <mat-label>Version</mat-label>
              <input name = "version" #name="ngModel"  [ngModel]="selected.version" ngModel matInput type="text" required>
            </mat-form-field>
        
          <mat-divider></mat-divider>
          
          <mat-form-field>
            <mat-label>Kernel version</mat-label>
              <input name = "kernelVersion" #name="ngModel" [ngModel]="selected.kernelVersion" ngModel matInput type="text" required>
            </mat-form-field>
  
          <button id="saveButton" type="submit" mat-icon-button color="primary">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </div>
      </form>
    </mat-card-content>
</mat-card>
  